/* MEDIA QUERYS */
@media only screen and (max-width: 768px) {
    #letsConnect {
        text-align:center;
    }
    .social {
        
    }
}

body {
    background: url("../images/carbonfiber1.jpg");
}

/*NAVBAR*/
#navbar {
    background:#0b0c10; 
    border: #0b0c10;
    margin-bottom:0;
}
#myName {
    color: #66fcf1;
    font-family:'Rock Salt', cursive;
    font-size: 30px;
    padding-top: 15px;
}

/* BUTTON BAR */
.btn.btn-link {
    color: #66fcf1;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}
.btn.btn-link.active {
    color: #66fcf1;
    font-family: 'Arsenal', sans-serif;
}
.btn.btn-link:hover {
    background: #45a29e;
    color: #0b0c10;
    font-family:'Rock Salt', cursive;
}
.btn.btn-link:active {
    background: #66fcf1;
    color: #0b0c10;
    font-family:'Rock Salt', cursive;
    font-size: 26px;
}

/* INSIDE JUMBOTRON */
.jumboTronH2s {
    color: #66fcf1;
    font-size: 50px;
    margin-top: 0;
}
#profilePic {
    width:250px;
    height:250px;
}
#jumbotron {
    font-family: 'Arsenal', sans-serif;
}
#letsConnect {
    font-size:40px;
}
.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
    border-right: 10px;
  }

/* FOOTER */
footer {
    color: #c5c6c7;
    text-align: center;
    height:30px;
}

/* PORTFOLIO */
.work img {
    width: 274px;
    height: 274px;
}
.btn {
    color: #66fcf1;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
}
.btn:hover {
    font-family:'Rock Salt', cursive;
    background: #45a29e;
}
.btn:active {
    background: #66fcf1;
    font-family:'Rock Salt', cursive;
    font-size: 26px;
}

/* contact page */

.form-section {
    color: white;
}
#contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    color: #0b0c10;
    background: #c5c6c7;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #0b0c10;
    cursor: pointer;
    background: #66fcf1;
    border: 0 none;
  }